<?xml version="1.0" encoding="UTF-8"?>
<pools>
    <pool>
        <name>127.0.0.1-master</name>
        <username>sa</username>
        <password>ikoiko</password>
        <driver>com.microsoft.sqlserver.jdbc.SQLServerDriver</driver>
        <jdbcurl>jdbc:sqlserver://127.0.0.1:1433;DatabaseName=master</jdbcurl>
        <defaultAutoCommit>true</defaultAutoCommit>
        <validationQuery>1</validationQuery>
        <testOnBorrow>true</testOnBorrow>
        <testOnReturn>false</testOnReturn>
        <testWhileIdle>true</testWhileIdle>
        <timeBetweenEvictionRunsMillis>-1</timeBetweenEvictionRunsMillis>
        <numTestsPerEvictionRun>10</numTestsPerEvictionRun>
        <minEvictableIdletimeMillis>1000</minEvictableIdletimeMillis>
        <initialSize>10000</initialSize>
        <maxActive>80000</maxActive>
        <maxIdle>80000</maxIdle>
        <maxwait>300</maxwait>
        <poolPreParedStatements>true</poolPreParedStatements>
        <maxOpenPreparedStatements>0</maxOpenPreparedStatements>
        <accessToUnderlyingConnectionAllowed>true</accessToUnderlyingConnectionAllowed>
    </pool>
    <pool>
        <name>127.0.0.1-gmldatabase</name>
        <username>sa</username>
        <password>ikoiko</password>
        <driver>com.microsoft.sqlserver.jdbc.SQLServerDriver</driver>
        <jdbcurl>jdbc:sqlserver://127.0.0.1:1433;DatabaseName=gmldatabase</jdbcurl>
        <defaultAutoCommit>true</defaultAutoCommit>
        <validationQuery>1</validationQuery>
        <testOnBorrow>true</testOnBorrow>
        <testOnReturn>false</testOnReturn>
        <testWhileIdle>true</testWhileIdle>
        <timeBetweenEvictionRunsMillis>-1</timeBetweenEvictionRunsMillis>
        <numTestsPerEvictionRun>10</numTestsPerEvictionRun>
        <minEvictableIdletimeMillis>1000</minEvictableIdletimeMillis>
        <initialSize>1000</initialSize>
        <maxActive>80000</maxActive>
        <maxIdle>80000</maxIdle>
        <maxwait>300</maxwait>
        <poolPreParedStatements>true</poolPreParedStatements>
        <maxOpenPreparedStatements>0</maxOpenPreparedStatements>
        <accessToUnderlyingConnectionAllowed>true</accessToUnderlyingConnectionAllowed>
    </pool>
    <pool>
        <name>127.0.0.1-WHALLDB</name>
        <username>sa</username>
        <password>ikoiko</password>
        <driver>com.microsoft.sqlserver.jdbc.SQLServerDriver</driver>
        <jdbcurl>jdbc:sqlserver://127.0.0.1:1433;DatabaseName=WHALLDB</jdbcurl>
        <defaultAutoCommit>true</defaultAutoCommit>
        <validationQuery>1</validationQuery>
        <testOnBorrow>true</testOnBorrow>
        <testOnReturn>false</testOnReturn>
        <testWhileIdle>true</testWhileIdle>
        <timeBetweenEvictionRunsMillis>-1</timeBetweenEvictionRunsMillis>
        <numTestsPerEvictionRun>10</numTestsPerEvictionRun>
        <minEvictableIdletimeMillis>1000</minEvictableIdletimeMillis>
        <initialSize>1000</initialSize>
        <maxActive>80000</maxActive>
        <maxIdle>80000</maxIdle>
        <maxwait>300</maxwait>
        <poolPreParedStatements>true</poolPreParedStatements>
        <maxOpenPreparedStatements>0</maxOpenPreparedStatements>
        <accessToUnderlyingConnectionAllowed>true</accessToUnderlyingConnectionAllowed>
    </pool>

    <pool>
        <name>localhost-postgres</name>
        <username>postgres</username>
        <password>ikoiko</password>
        <driver>org.postgresql.Driver</driver>
        <jdbcurl>jdbc:postgresql://localhost:5432/postgres</jdbcurl>
        <defaultAutoCommit>true</defaultAutoCommit>
        <validationQuery>1</validationQuery>
        <testOnBorrow>true</testOnBorrow>
        <testOnReturn>true</testOnReturn>
        <testWhileIdle>true</testWhileIdle>
        <timeBetweenEvictionRunsMillis>-1</timeBetweenEvictionRunsMillis>
        <numTestsPerEvictionRun>10</numTestsPerEvictionRun>
        <minEvictableIdletimeMillis>1000</minEvictableIdletimeMillis>
        <initialSize>1000</initialSize>
        <maxActive>80000</maxActive>
        <maxIdle>80000</maxIdle>
        <maxwait>3000</maxwait>
        <poolPreParedStatements>true</poolPreParedStatements>
        <maxOpenPreparedStatements>0</maxOpenPreparedStatements>
        <accessToUnderlyingConnectionAllowed>true</accessToUnderlyingConnectionAllowed>
    </pool>
    <pool>
        <name>localhost-gmldatabase</name>
        <username>postgres</username>
        <password>ikoiko</password>
        <driver>org.postgresql.Driver</driver>
        <jdbcurl>jdbc:postgresql://localhost:5432/gmldatabase</jdbcurl>
        <defaultAutoCommit>true</defaultAutoCommit>
        <validationQuery>1</validationQuery>
        <testOnBorrow>true</testOnBorrow>
        <testOnReturn>true</testOnReturn>
        <testWhileIdle>true</testWhileIdle>
        <timeBetweenEvictionRunsMillis>-1</timeBetweenEvictionRunsMillis>
        <numTestsPerEvictionRun>10</numTestsPerEvictionRun>
        <minEvictableIdletimeMillis>1000</minEvictableIdletimeMillis>
        <initialSize>1000</initialSize>
        <maxActive>80000</maxActive>
        <maxIdle>80000</maxIdle>
        <maxwait>3000</maxwait>
        <poolPreParedStatements>true</poolPreParedStatements>
        <maxOpenPreparedStatements>0</maxOpenPreparedStatements>
        <accessToUnderlyingConnectionAllowed>true</accessToUnderlyingConnectionAllowed>
    </pool>
    <pool>
        <name>10.1.60.28-gmldatabase</name>
        <username>sysman</username>
        <password>ikoiko</password>
        <driver>oracle.jdbc.driver.OracleDriver</driver>
        <jdbcurl>jdbc:oracle:thin:@10.1.60.28:1521:gmldatabase</jdbcurl>
        <defaultAutoCommit>true</defaultAutoCommit>
        <validationQuery>1</validationQuery>
        <testOnBorrow>true</testOnBorrow>
        <testOnReturn>true</testOnReturn>
        <testWhileIdle>true</testWhileIdle>
        <timeBetweenEvictionRunsMillis>-1</timeBetweenEvictionRunsMillis>
        <numTestsPerEvictionRun>10</numTestsPerEvictionRun>
        <minEvictableIdletimeMillis>10000</minEvictableIdletimeMillis>
        <initialSize>10000</initialSize>
        <maxActive>80000</maxActive>
        <maxIdle>80000</maxIdle>
        <maxwait>3000</maxwait>
        <poolPreParedStatements>true</poolPreParedStatements>
        <maxOpenPreparedStatements>0</maxOpenPreparedStatements>
        <accessToUnderlyingConnectionAllowed>true</accessToUnderlyingConnectionAllowed>
    </pool>
</pools>
      
